<!DOCTYPE html>
<!-- "load staticfiles" didnt work as it wasnt one of the present libs to I just used static
        It works the exact same way -->
{% load static %}

<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
        <h1>here is the about page. {{ STATIC_URL }}</h1>
        <div>
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/index">Index</a>
             <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> <!-- New Line -->
             <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat." />
        </div>
    </body>
</html>